<phpunit 
    bootstrap="includes/autoload.php"
>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
    <testsuites>
        <testsuite name="Xms">
            <file>test/phpUnit/XmlTest.php</file>
            <file>test/phpUnit/XmsXmlTest.php</file>
            <file>test/phpUnit/XmsTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
